.content {
    min-height: 30vh;
    height: 100%;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: #001b33;
    letter-spacing: 5px;
}

/* header.html START */

header {
    background-color: #023c62;
}

nav {
    background-color: #b8b9b8;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.nav-link {
    margin: 0
}

.staff-header {
    background-color: #001b33;
    color: white;
}

/* header.html END */


/* footer.html START */

footer {
    background-color: #605c5c;
    color: white;
}

/* footer.html END */


/* Hero Section (about.html) START */

#hero {
    background: url(https://res.cloudinary.com/dys7tcjln/image/upload/v1681984348/Architecture-50_erryhb.jpg) no-repeat;
    width: 100%;
    background-position: center;
    height: 25vw;
    background-size: cover;
}

#hero-heading-white {
    color: white;
}

.hero-text-box {
    background-color: rgba(0, 27, 51, 0.8);
}

/* Hero Section (about.html) END */


/* project.html START */

.project-title {
    padding: 12px;
    position: absolute;
    margin: -30px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

/* project.html END */


/* Contact START */

#contact {
    background: url(https://res.cloudinary.com/dys7tcjln/image/upload/v1682243828/architecture-sketching_k7veaf.jpg) no-repeat;
    background-size: cover;
    background-color: rgba(0, 27, 51, 0.9);
    background-blend-mode: overlay;
    color: white;
    background-position: right
}

.heading-white {
    color: white;
}

/* Contact END */


/* Buttons START */

.btn-primary {
    background-color: #023c62
}

.btn {
    letter-spacing: 2px;
    stroke: none;
    border-radius: 0%;
}

.btn-link {
    color: white;
}

/* Buttons END */


/* Bootstrap START */

.card {
    box-shadow: 0px 5px 1px rgba(0, 27, 51, 1);
}

/* Bootstrap END */


/* home.html */

.cta {
    background-color: #023c62;
    color: white;
}

/* home.html */


/* Font Awesome START */

.fa-brands {
    color: white;
    font-size: 30px;
    padding: 5%;
    padding-left: 0%;
}

.fa-square {
    color: #001b33;
    border-radius: 0%;
}

/* Font Awesome END */