{% extends 'base.html' %}

{% block content %}

<div class="container my-5">

    <!-- Not visible to public user. Only authorised users (staff with permissions) can view this -->
    {% if user.is_staff == True %} 
        <h1 class="mb-5">CREATE NEW PROJECT</h1>

        <form method="post" enctype="multipart/form-data">{% csrf_token %}

            <!-- Project Name -->
            <div class="mb-3">
                <label for="id_project_name" class="form-label">Project name</label>
                <input type="text" class="form-control" name="project_name" id="id_project_name" placeholder="Project name"
                    required autofocus>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="id_descripion" class="form-label">Description</label>
                <textarea type="text" class="form-control" name="description" id="id_descripion" placeholder="Description"
                    cols="30" rows="10" required></textarea>
            </div>

            <!-- Image -->
            <div class="mb-3">
                <label for="id_image" class="form-label">Image</label>
                <input type="file" class="form-control" name="featured_image" id="id_image" accept=".jpg">
            </div>

            <!-- Client -->
            <div class="mb-3">
                <label for="id_client_name" class="form-label">Client</label>
                <input type="text" class="form-control" name="client_name" id="id_client_name" placeholder="Client"
                    required>
            </div>

            <!-- Location -->
            <div class="mb-3">
                <label for="id_location" class="form-label">Location</label>
                <input type="text" class="form-control" name="location" id="id_location" placeholder="Location" required>
            </div>

            <!-- Tagline -->
            <div class="mb-3">
                <label for="id_tagline" class="form-label">Tagline</label>
                <input type="text" class="form-control" name="tagline" id="id_tagline" placeholder="Tagline" required>
            </div>

            <button type="submit" class="btn btn-primary mb-3">ADD PROJECT</button>

        </form>

        <a href="/#projects" class="btn btn-outline-primary">CANCEL</a>

    <!-- Unauthorised users on the page will see the following message below -->
    {% else %}
        <div class="container my-5">
            <h1>Unauthorised permission</h1>
            <p>Sorry, you're not permitted to enter this page. Please return to the <a href="/">homepage</a>.</p>
        </div>

    {% endif %}

</div>

{% endblock content %}