{% extends 'base.html' %}

{% block content %}

<div class="container my-5 d-flex justify-content-center">

    <!-- Not visible to public user. Only authorised users (staff with permissions) can view this -->
    {% if user.is_staff == True %} 
        <form method="post" enctype="multipart/form-data" class="col-sm-12 col-md-9">{% csrf_token %}

            <h1 class="mb-5">CREATE NEW PROJECT</h1>

            <!-- Project Name -->
            <div class="mb-3">
                <label for="id_project_name" class="form-label">Project name</label>
                <input type="text" class="form-control" name="project_name" id="id_project_name" required autofocus>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="id_descripion" class="form-label">Description</label>
                <textarea type="text" class="form-control" name="description" id="id_descripion"
                    cols="30" rows="10" required></textarea>
            </div>

            <!-- Image -->
            <div class="mb-3">
                <label for="id_image" class="form-label">Image</label>
                <input type="file" class="form-control" name="featured_image" id="id_image" accept=".jpg">
            </div>

            <!-- Alt image -->
            <div class="mb-3">
                <label for="id_alt_image" class="form-label">Alt text for image</label>
                <input type="text" class="form-control" name="alt_image" id="id_alt_image"
                    value="{{form.initial.alt_image}}">
            </div>

            <!-- Client -->
            <div class="mb-3">
                <label for="id_client_name" class="form-label">Client</label>
                <input type="text" class="form-control" name="client_name" id="id_client_name" required>
            </div>

            <!-- Location -->
            <div class="mb-3">
                <label for="id_location" class="form-label">Location</label>
                <input type="text" class="form-control" name="location" id="id_location" required>
            </div>

            <!-- Tagline -->
            <div class="mb-3">
                <label for="id_tagline" class="form-label">Tagline</label>
                <input type="text" class="form-control" name="tagline" id="id_tagline" required>
            </div>

            <button type="submit" class="btn btn-primary mb-3">ADD PROJECT</button>

            <p>
                <a href="/#projects" class="btn btn-outline-primary">CANCEL</a>
            </p>

        </form>

    <!-- Unauthorised users on the page will see the following message below -->
    {% else %}
        <div>
            <h1 class="mb-4">Unauthorised permission</h1>
            <p>Sorry, you're not permitted to enter this page. Please return to the <a href="/">homepage</a>.</p>
        </div>

    {% endif %}

</div>

{% endblock content %}