{% extends 'base.html' %}

{% block content %}

{% if user.is_staff == True %}

<div>
    <div class="container my-5">

        <div>
            <h1 class="mb-5">EDIT PROJECT: {{ form.initial.project_name }}</h1>
        </div>

        <div>

            <form method="post" enctype="multipart/form-data">{% csrf_token %}

                <div class="mb-3">
                    <label for="id_project_name" class="form-label">Project name</label>
                    <input type="text" class="form-control" id="id_project_name" name="project_name"
                        placeholder="Project name" value="{{form.initial.project_name}}" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="id_description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="id_descripion" name="description"
                        placeholder="Description" cols="30" rows="10" required>{{form.initial.description}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="id_image" class="form-label">Image</label>
                    <input type="file" class="form-control" id="id_image" name="image" accept=".jpg"
                        value="{{form.initial.featured_image}}">
                </div>
                <div class="mb-3">
                    <label for="id_client_name" class="form-label">Client</label>
                    <input type="text" class="form-control" id="id_client_name" name="client" placeholder="Client"
                        value="{{form.initial.client_name}}" required>
                </div>
                <div>
                    <div class="mb-3">
                        <label for="id_location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="id_location" name="location" placeholder="Location"
                            value="{{form.initial.location}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_tagline" class="form-label">Tagline</label>
                        <input type="text" class="form-control" id="id_tagline" name="tagline" placeholder="Tagline"
                            value="{{form.initial.tagline}}" required>
                    </div>

                    <button type="submit" class="btn btn-primary mb-3">UPDATE</button>
            </form>

            <div>
                <a href="{% url 'home' %}" class="btn btn-outline-primary">CANCEL</a>
            </div>
            
        </div>
        
    </div>
</div>

{% else %}
<div class="container my-5">
    <h1>Unauthorised permission</h1>
    <p>Sorry, you're not permitted to enter this page. Please return to the <a href="/">homepage</a>.</p>
</div>
{% endif %}

{% endblock content %}