{% extends 'base.html' %}

{% block content %}

<div id="about">
    {% include 'about.html' %}
</div>

<div>
    {% include 'stats.html' %}
</div>

<div id="services">
    {% include 'services.html' %}
</div>

<div style="background-color: yellow;">
    <h3>READY TO BRING YOUR IDEA TO LIFE</h3>
    <p>Get inspired by Aspire and find out how we can help you</p>
    <button>I'M READY!</button>
</div>

<div id="projects">
    {% include 'project/projects.html' %}
</div>

<div id="contact" style="background-color: aqua;">
    {% include 'contact.html' %}
</div>

{% endblock content %}