{% extends 'base.html' %}

{% block content %}

<div id="about">
    {% include 'about.html' %}
</div>

<div>
    {% include 'stats.html' %}
</div>

<div id="services">
    {% include 'services.html' %}
</div>

<div class="p-4 cta">
    <div class="container text-center">
        <div class="row align-items-center row-col-auto">
            <div class="col-12">
                <h4 class="cta">READY TO BRING YOUR IDEA TO LIFE?</h4>
                <p>Get inspired by Aspire and find out how we can help you...</p>
            </div>
            <div class="col-12">
                <a href="#" class="btn btn-outline-light fw-semibold px-5">I'M READY!</a>
            </div>
        </div>
    </div>
</div>

</div>

<div id="projects">
    {% include 'project/projects.html' %}
</div>

<div id="contact">
    {% include 'contact.html' %}
</div>

{% endblock content %}