{% block content %}

<section id="projects" class="mb-4">
    <div class="container mt-5">
        <div class="row pb-2">
            <div class="text-center">
                <h2>CURRENT PROJECTS</h2>
                <p>Get inspired and discover some of our current live projects happening right now as we speak...</p>
            </div>

            <div class="text-center">
                {% if user.is_staff == True %}
                <a href="/project/create" class="btn btn-primary mb-5 mt-4">CREATE NEW PROJECT</a>
                {% else %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% for project in projects %}

            {% if project.status == 2 and project.finished == False %}
            <!-- Show Published projects -->
            <div class="col-sm-12 col-md-4 col-lg-3 my-4">
                <div class="card h-100 mt-2">
                    {% if "placeholder" in project.featured_image.url %}
                    <h3 class="card-title project-title">{{project.project_name}}</h3>
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt=""
                        class="card-img">
                    <div class="card-body">
                        <p class="card-text">{{project.description}}</p>
                        <a class="btn btn-primary fw-semibold">></a>
                    </div>
                    {% if user.is_staff == True %}
                    <div class="card-body text-center">
                        <a class="btn btn-secondary m-1"
                            href="/project/edit/{{ project.slug }}">UPDATE</a>
                        <a class="btn btn-danger m-1"
                            href="/project/delete/{{ project.slug }}">DELETE</a>
                    </div>
                    {% endif %}
                    {% else %}

                    <h3 class="card-title project-title">{{project.project_name}}</h3>
                    <img src="{{ project.featured_image.url }}" alt="" value="" class="card-img">
                    <div class="card-body">
                        <p class="card-text">{{project.description}}</p>
                        <a class="btn btn-primary fw-semibold">></a>
                    </div>
                    {% if user.is_staff == True %}
                    <div class="card-body text-center">
                        <a class="btn btn-secondary m-1"
                            href="/project/edit/{{ project.slug }}">UPDATE</a>
                        <a class="btn btn-danger m-1"
                            href="/project/delete/{{ project.slug }}">DELETE</a>
                    </div>
                    {% else %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            {% else %}

            {% endif %}
            {% endfor %}
        </div>

    </div>

    <div class="container mt-5">

        <div class="row pb-2">
            <div class="text-center">
                <h2>FINISHED PROJECTS</h2>
                <p>Aspire Architecture is proud to showcase our completed projects...</p>
            </div>

            <div class="row mt-2">
                {% for project in projects %}

                {% if project.status == 2 and project.finished == True %}
                <!-- Show finished projects -->
                <div class="col-sm-12 col-md-4 col-lg-3 my-4">
                    <div class="card h-100 my-3">
                        {% if "placeholder" in project.featured_image.url %}
                        <h3 class="card-title project-title">{{project.project_name}}</h3>
                        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt=""
                            class="card-img">
                        <div class="card-body">
                            <p class="card-text">{{project.description}}</p>
                            <a class="btn btn-primary fw-semibold">></a>
                        </div>
                        {% if user.is_staff == True %}
                        <div class="card-body text-center">
                            <a class="btn btn-secondary m-1"
                                href="/project/edit/{{ project.slug }}">UPDATE</a>
                            <a class="btn btn-danger m-1"
                                href="/project/delete/{{ project.slug }}">DELETE</a>
                        </div>
                        {% endif %}
                        {% else %}

                        <h3 class="card-title project-title">{{project.project_name}}</h3>
                        <img src="{{ project.featured_image.url }}" alt="" value="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">{{project.description}}</p>
                            <a class="btn btn-primary fw-semibold">></a>
                        </div>
                        {% if user.is_staff == True %}
                        <div class="card-body text-center">
                            <a class="btn btn-secondary m-1"
                                href="/project/edit/{{ project.slug }}">UPDATE</a>
                            <a class="btn btn-danger m-1"
                                href="/project/delete/{{ project.slug }}">DELETE</a>
                        </div>
                        {% else %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% else %}
                {% endif %}
                {% endfor %}

            </div>
        </div>

    </div>
</section>
{% endblock content %}