
{% block content %}

<section>
    <div>
        <div>
            <h2>CURRENT PROJECTS</h2>
            <p>Get inspired and discover some of our current live projects happening right now as we speak...</p>
        </div>
        
        {% for project in projects %}
        <div>
            <div>
                {% if "placeholder" in project.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="" width="300px">
                {% else %}
                <img src="{{ project.featured_image.url }}" alt="" value="">
                {% endif %}
            </div>
            <h3>{{project.project_name}}</h3>
            <p>{{project.description}}</p>
            <button>></button>
            <a href="/project/edit/{{ project.slug }}">
                <button>UPDATE PROJECT</button>
            </a>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock content %}