<!-- Footer START -->

<footer id="footer" class="no-gutters p-5">

    <div class="container">

        <div class="row pt-4 text-center text-lg-start">

            <!-- Left Column -->
            <div class="col-sm-12 col-lg-7 ">
                <a href="/"><img
                        src="https://res.cloudinary.com/dys7tcjln/image/upload/v1681817225/Aspire_logo_WHITE_vye9ka.png"
                        alt="Aspire Architecture logo" width="150px" class="img-fluid mt-2 mb-4">
                </a>
                <p>Aspire Architecture is a leading sustainable architectural practice based in Soho, London. We work
                    across the U.K and internationally.</p>
                <hr>
                <p class="mb-4">2023 Aspire Architecture</p>
            </div>

            <!-- Right Column -->
            <div class="col-sm-12 col-lg-3 offset-lg-1 lh-1">
                <p class="fw-semibold fs-4">Contact</p>

                <!-- Company Address -->
                <p>Aspire Architecture</p>
                <p>Digital Court</p>
                <p>Soho</p>
                <p class="mb-5">London W1B 5BT</p>

                <!-- Company contact details -->
                <p>
                    <a class="btn btn-link p-0 lh-1" href="tel:+44(0)208600912X">+44(0)20 8600 912X</a>
                </p>
                <p>
                    <a class="btn btn-link p-0 lh-1" href="mailto:info@aspirearchitecture.com">info@aspirearchitecture.com</a>
                </p>

                <!-- Social media -->
                <p>
                    <a href="https://www.linkedin.com/" target="_blank"
                        aria-label="Click on the LinkedIn logo to go to LinkedIn's website (opens LinkedIn in new tab)"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"
                        aria-label="Click on the YouTube logo to go to YouTube's website (opens YouTube in new tab)"><i
                            class="fa-brands fa-youtube-square"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"
                        aria-label="Click on the Instagram logo to go to Instagram's website (opens Instagram in new tab)"><i
                            class="fa-brands fa-instagram-square"></i></a>
                    <a href="https://twitter.com/" target="_blank"
                        aria-label="Click on the Twitter logo to go to Twitter's website (opens Twitter in new tab)"><i
                            class="fa-brands fa-twitter-square"></i></a>
                </p>
            </div>

        </div>

    </div>

</footer>

<!-- Footer END -->