<!-- HEADER START -->

<header id="header" class="row">
    <div class="staff-header py-2 container text-center">
        {% if user.is_staff == True %}
        <div>
            {% if request.path == "/" %}
            <p class="d-flex align-items-center justify-content-evenly">Hi {{user}}, you're now logged in.
                <a class="btn btn-link" href="admin">Content Management System Portal</a></p>
            {% else %}
            <p class="d-flex align-items-center justify-content-evenly">Hi {{user}}, you're now logged in.
                <a class="btn btn-link" href="/admin">Content Management System Portal</a></p>
            {% endif %}
        </div>
        {% else %}
        {% endif %}
        
    </div>
    <div class="container p-3">
            <div class="col text-center">
                <a href="/"><img
                        src="https://res.cloudinary.com/dys7tcjln/image/upload/v1681817225/Aspire_logo_WHITE_vye9ka.png"
                        alt="Aspire Architecture logo" width="100px" class="img-fluid"></a>
            </div>
        </div>
    <div>

    </div>
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 container nav-justified fw-semibold">
                    {% if request.path == "/" %}
                    <li class="nav-item col">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Studio</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Press</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    {% else %}
                    <li class="nav-item col">
                        <a class="nav-link" href="/#projects">Projects</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="/#services">Services</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Studio</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Press</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="/#contact">Contact</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </div>

</header>
<!-- HEADER END -->