<!-- HEADER -->

<header id="header">
    <div class="top-nav">

        {% if user.is_staff == True %}

        <div style="background-color: blue;">
            <p>Hi {{user}}, you're now logged in</p>
        </div>

        {% else %}
        {% endif %}

        <div>
            <p>info</p>
            <p>logo</p>
            <p>socials</p>
        </div>

        

        <nav>
            <ul class="">
                <li>
                    <a href="#projects">Projects</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#">Studio</a>
                </li>
                <li>
                    <a href="#">Press & Awards</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

    </div>
</header>

<!-- END HEADER -->