<!-- Hero START -->

<section id="hero" class="position-relative">

    <!-- Disappears on lg screens. CTA located on the right edge -->
    <div class="text-end p-5 mb-5 position-absolute bottom-0 end-0 d-none d-xl-block hero-text-box">
        <H2 id="hero-heading-white-xl">THE DREAM HOME IS<br>A DESIGN AWAY</H2>
        <a href="#contact" class="btn btn-light m-1 fw-semibold">LET'S DESIGN YOUR DREAM HOME!</a>
    </div>
    
    <!-- Activates on lg screens. Disappears on sm screens. CTA moves to the center -->
    <div class="text-center p-2 position-absolute top-50 start-50 translate-middle d-none d-md-block d-xl-none hero-text-box">
        <H2 id="hero-heading-white-lg">THE DREAM HOME IS A DESIGN AWAY</H2>
        <a href="#contact" class="btn btn-light m-1 fw-semibold">LET'S DESIGN YOUR DREAM HOME!</a>
    </div>

</section>

<!-- Hero END -->

<!-- About START -->

<section id="about">

    <div class="container mb-4">
        
        <!-- Images disappear on medium screens and smaller -->

        <div class="row align-items-xl-center">
            <div class="col-sm d-none d-lg-block">
                <img src="https://res.cloudinary.com/dys7tcjln/image/upload/q_50/v1681853819/Team-blue_mlcvvn.jpg" 
                alt="Members of staff from Aspire Architecture" class="img-fluid">
            </div>

            <div class="col-lg offset-lg-1 d-block text-center text-lg-start mt-4 mb-4">
                <h1>ASPIRE ARCHITECTURE</h1>

                <p>Aspire is a young, energetic, next level thinking architecture firm based in the heart of London,
                    England. We work on local and international projects and offer a unique product/service to 
                    each of our clients.</p>

                <p>With 10 years of international experience in both residential, commercial and public projects. We
                    carry a child’s passion and the critical thinking to challenge, push and question architectural 
                    norms, and the world around.</p>

                <p>We listen to and actively communicate with our clients. We shape their thoughts and guide them
                    through the design and building process to reach a clear understanding and ensure each idea is 
                    executed to its full potential.</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg d-block text-center text-lg-start">
                <h2>WHY CHOOSE ASPIRE</h2>

                <p>Aspire Architecture is a leading Sustainable Architectural practice based in Soho, London. We work
                    across the U.K and internationally</p>

                <p>At Aspire, our Design Architects create Architecture for the people who will benefit from the places
                    and spaces we create. We are Green Architects and we live and breathe Architectural Sustainability.
                    Our designs excite and inspire, regularly exceeding expectation.</p>

                <p>From the outset, sustainability, collaboration, and social responsibility have been at the heart of
                    our work. Today we embrace these values as passionately as ever, developing inspiring, 
                    award-winning and technically excellent buildings, sensitively designed with a human touch.</p>
            </div>

            <div class="col-sm offset-lg-1 d-none d-lg-block">
                <img src="https://res.cloudinary.com/dys7tcjln/image/upload/q_50/v1681991947/team-in-workshop_cgjr8g.jpg"
                    alt="Staff working in the office on small models" class="img-fluid">
            </div>
        </div>

        <div class="text-center">
            <a href="#" class="btn btn-primary fw-semibold mt-4">LEARN MORE ABOUT ASPIRE</a>
        </div>

    </div>

</section>

<!-- About END -->