<!-- HERO SECTION -->

<section style="background-color: cadetblue;">
    <div style="background-size: cover; background-repeat: no-repeat; background: url(https://res.cloudinary.com/dys7tcjln/image/upload/v1681820247/Architecture_xzaiof.jpg); width: 100%; height: auto;">
        <div>
            <div>THE DREAM HOME IS ONE DESIGN AWAY</div>
            <div>GET IN TOUCH!</div>
        </div>
    </div>
</section>

<!-- END HERO SECTION -->

<!-- ABOUT SECTION -->

<section>

    <div>

        <h1>ASPIRE ARCHITECTURE</h1>

        <p>Aspire is a young, energetic, next level thinking architecture firm based in the heart of London, England. We
            work on
            local and international projects and offer a unique product/service to each of our clients.</p>

        <p>With 10 years of international experience in both residential, commercial and public projects. We carry a
            child’s
            passion and the critical thinking to challenge, push and question architectural norms, and the world around.
        </p>

        <p>We listen to and actively communicate with our clients. We shape their thoughts and guide them through the
            design and
            building process to reach a clear understanding and ensure each idea is executed to its full potential.</p>

        <a href="#">STUDIO TEAM</a>

    </div>

    <div>
        <h2>WHY CHOOSE ASPIRE</h2>

        <p>Aspire Architecture is a leading Sustainable Architectural practice based in Soho, London. We work across the
            U.K and
            internationally</p>

        <p>At Aspire, our Design Architects create Architecture for the people who will benefit from the places and
            spaces we
            create. We are Green Architects and we live and breathe Architectural Sustainability. Our designs excite and
            inspire, regularly exceeding expectation. They create long-lasting impressions on the individuals and
            communities
            for whom they are designed; transforming lives. Our repeat business and long-lasting partnerships speak for
            themselves.</p>

        <p>From the outset, sustainability, collaboration, and social responsibility have been at the heart of our work.
            Today
            we embrace these values as passionately as ever, developing inspiring, award-winning and technically
            excellent
            buildings, sensitively designed with a human touch.</p>

        <a href="#">LEARN MORE ABOUT ASPIRE</a>
    </div>

</section>

<!-- END ABOUT SECTION -->
