<section>
    <h2>A DESIGN PACKAGE FOR YOU</h2>

    <div>
        <img src="" alt="">
        <h3>ARCHITECTURE</h3>
        <p>We offer full architectural services according to the SACAP and SAIA guidelines. We design cutting edge
            buildings that are personalised for you. Our speciality ranges from bespoke residential designs to large
            scale
            developments. From hospital design to community centres. Every project is innovative and packed with energy
            and no design
            is out of our comfort range. Whether you require a new apartment block, retail outlet or simply want to
            re-imagine
            your living space, Aspire offers a package perfect for you</p>
    </div>

    <div>
        <img src="" alt="">
        <h3>INTERIOR DESIGN</h3>
        <p>We offer full interior design packages which include bespoke furniture design, material selection and colour
            advice. We are always pushing the boundaries and keeping up with international trends. It is crucial that
            the environments where you live, work and play have the correct atmosphere. We ensure that your space will
            reflect you through colour, furniture and creativity. Invest in yourself by letting us guide you to your
            dream space! Interior design packages can be in combination with the architectural design packages.
        </p>
    </div>

    <div>
        <img src="" alt="">
        <h3>EXTENTIONS</h3>
        <p>As experts in property, Aspire have a proven track record in gaining permissions and approvals for multiple
            extensions to a single dwelling. Whether you want a loft conversion and single storey rear extension or two
            storey extension our understanding of design, construction and the application process is not a skill that
            you will find with every Architectural Practice.
        </p>
    </div>

    <a href="#">SEE ALL OF OUR SERVICES</a>
</section>