<section id="services">

    <div class="container my-5">

        <div class="row mb-2 text-center">
            <h2>A DESIGN PACKAGE FOR YOU</h2>
        </div>

        <!-- Services displayed in Card (from Bootstrap) format START -->
        <div class="row gx-4">

            <!-- Service: ARCHITECTURE -->
            <div class="col-sm-12 col-lg-4 my-3">
                <div class="card h-100">

                    <img src="https://res.cloudinary.com/dys7tcjln/image/upload/q_20/v1682027243/House_Architecture_Thumbnailw550px_ru8cju.avif"
                        class="card-img-top" alt="A modern house with extensive features">
                    <div class="card-body">
                        <h3 class="card-title">ARCHITECTURE</h3>
                        <i class="fa-sharp fa-solid fa-square my-2"></i>
                        <p>We offer full architectural services according to the SACAP and SAIA guidelines. We design cutting edge 
                            buildings that are personalised for you. Our speciality ranges from bespoke residential designs to large 
                            scale developments. From hospital design to community centres. Every project is innovative and packed with 
                            energy and no design is out of our comfort range. Whether you require a new apartment block, retail outlet 
                            or simply want to re-imagine your living space, Aspire offers a package perfect for you.</p>
                        <a class="btn btn-primary mb-4">
                            <i class="fa-solid fa-caret-right fa-xl"></i>
                        </a>
                    </div>

                </div>
            </div>

            <!-- Service: INTERIOR DESIGN -->
            <div class="col-sm-12 col-lg-4 my-3">
                <div class="card h-100">
                    
                    <img src="https://res.cloudinary.com/dys7tcjln/image/upload/q_20/v1682027243/Interior_Design_Thumbnailw550px_xapfrz.avif"
                        class="card-img-top" alt="Interior design of an open space living room which features furniture">
                    <div class="card-body">
                        <h3 class="card-title">INTERIOR DESIGN</h3>
                        <i class="fa-sharp fa-solid fa-square my-2"></i>
                        <p>We offer full interior design packages which include bespoke furniture design, material selection and
                            colour advice. We are always pushing the boundaries and keeping up with international trends. It is
                            crucial that the environments where you live, work and play have the correct atmosphere. We ensure
                            that your space will reflect you through colour, furniture and creativity. Invest in yourself by letting 
                            us guide you to your dream space! Interior design packages can be in combination with the architectural
                            design packages.</p>
                        <a class="btn btn-primary mb-4">
                            <i class="fa-solid fa-caret-right fa-xl"></i>
                        </a>
                    </div>

                </div>
            </div>

            <!-- Service: EXTENSIONS -->
            <div class="col-sm-12 col-lg-4 my-3">
                <div class="card h-100">

                    <img src="https://res.cloudinary.com/dys7tcjln/image/upload/q_20/v1682027243/Extension_Thumbnailw550px_faxvn5.avif"
                        class="card-img-top" alt="Extension added to a back of a semi-detached house">
                    <div class="card-body">
                        <h3 class="card-title">EXTENTIONS</h3>
                        <i class="fa-sharp fa-solid fa-square my-2"></i>
                        <p>As experts in property, Aspire have a proven track record in gaining permissions and approvals for 
                            multiple extensions to a single dwelling. Whether you want a loft conversion and single storey 
                            rear extension or two storey extension our understanding of design, construction and the 
                            application process is not a skill that you will find with every Architectural Practice.</p>
                        <a class="btn btn-primary mb-4">
                            <i class="fa-solid fa-caret-right fa-xl"></i>
                        </a>
                    </div>
                    
                </div>
            </div>

        </div>

        <!-- Services displayed in Card format END -->

        <div class="text-center">
            <a href="#" class="btn btn-secondary mt-4 fw-semibold">SEE ALL OF OUR SERVICES</a>
        </div>

    </div>

</section>