<div class="container my-5">

    <div class="row text-center shadow p-3">

        <!-- Stats: TEAM -->
        <div class="col-md col-sm-12 border border-secondary-subtle border-5 p-3 my-1">
            <p><i class="fa-solid fa-people-group fs-1"></i></p>
            <span class="fs-2 fw-semibold">50+</span>
            <p class="fs-5 fw-semibold">Team</p>
            <p>Aspire has over 50 employees. We are a growing practice</p>
        </div>

        <!-- Stats: ZERO CARBON -->
        <div class="col-md col-sm-12 border border-secondary-subtle border-5 p-3 my-1">
            <p><i class="fa-solid fa-recycle fs-1"></i></p>
            <span class="fs-2 fw-semibold">9</span>
            <p class="fs-5 fw-semibold">Zero Carbon</p>
            <p>Net Zero Carbon Architecture is high on our agenda</p>
        </div>

        <!-- Stats: PROJECTS COMPLETED -->
        <div class="col-md col-sm-12 border border-secondary-subtle border-5 p-3 my-1">
            <p><i class="fa-solid fa-house fs-1"></i></p>
            <span class="fs-2 fw-semibold">120</span>
            <p class="fs-5 fw-semibold">Projects</p>
            <p>Projects completed in last four years</p>
        </div>

    </div>

</div>