{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5">

    <h1 class="mb-5">Register</h1>

    <form method="POST" enctype="multipart/form-data" class="mb-5">{% csrf_token %}

        <div class="row">

            <p class="fs-4"><strong>Create a staff account</strong></p>

            <div class="col-6">
                {{ form|crispy }}
            </div>

            <div class="col-6">
                Image placeholder can go here
            </div>

        </div>


        <button type="submit" class="btn btn-primary mt-3">Register for an account</button>

    </form>


    <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-sm">Have a staff account? Login</a>

</div>

{% endblock content %}